# Get this from https://www.notion.so/my-integrations
NOTION_TOKEN = "Place 32 character ID here"

# The Notion page ID your inbox database lives under (found in the page URL)
INBOX_PAGE_ID = "Place 32 character ID here"
ARCHIVE_VOCAB_PAGE_ID = "Place 32 character ID here"
ARCHIVE_SENTENCES_PAGE_ID = "Place 32 character ID here"